# Exclude build artifacts and local JDK directories
# Note: We need target/ at root for Docker build (target/app.jar)
*.iml
*.log
.git
.gitignore
java-1.8.0-openjdk-*
java-1.8.0-openjdk-1.8.0.392-1.b08.redhat.windows.x86_64
libs/**/target
starter-extract
generated-spring/test-classes
node_modules
.vscode
.DS_Store
